body{
    background-color:silver;
}
.container{
    position:absolute;
    height:20vh;
    width: 16vw;
    top: 0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
}
.card
{
    align-items: center;
    position: relative;
    padding-bottom: 1vh;
    

}
.form-control{
    margin:0.5vh;
}
